*{
    margin: 0;
}
.card{
    border: red 5px solid;
    width: fit-content;
    height: fit-content;
    z-index: 0;
}
#pokemain-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px 25px;
}
.card{
    border: gold 10px solid;
    border-radius: 10%;
}
.pkmn-details{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}
.container-pokemon img{
    background-color: black;
    border-radius: inherit;

}
.details-text{
    border-radius: inherit;
    position: absolute;
    z-index: 10;
    display: block;
    display: inline-flex;
    width: 100%;
    height: 100%;
    background-color: aquamarine;
}
.hidden{
    display: none;
}
/*- -   -   -   -   -   -   -   -   -   -
 styling for type symbols
 -  -   -   -   -   -   -   -   -   -   -*/
.types-container, .type-icon{
    justify-content: center;
    display: flex;
}
.type-icon{
    height: 64px;
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
}
.type-icon img{
    max-width: 100%;
    height: auto;
}
.type-icon p{
    align-self: center;
    font-size: 32px;
}
/* -    -   -   -   -   -   -   -   -   -   -
styling for clicked card event
-   -   -   -   -   -   -   -   -   -   -   -*/