*{
    margin: 0;
}
.card{
    border: red 5px solid;
    width: fit-content;
    height: fit-content;
    z-index: 0;
}
#pokemaincontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.details-simple{
    position: absolute;
    align-self: center;
    justify-self: center;
    border: blue 5px solid;
    z-index: 1;
}
.hidden{
    display: none;
}